ATLASDB_URL=mongodb+srv://Manan015:Manan15@m0.pqhnmti.mongodb.net/wanderlust?retryWrites=true&w=majority&appName=M0
SECRET=0225b495fadf99679a9e37eb7fc7edb406b1c8429a90de47794261d2b55ca9e5
CLOUD_NAME=nnolenls
CLOUD_API_KEY=958639789889289
CLOUD_API_SECRET=tKNV-qu_x0bqxEAC-vc6i-mEzQg

# URL of the React frontend (for CORS)
FRONTEND_URL=http://localhost:5173
